body { background:lightblue}
div.hidden { display:none ; }

div#body {position:absolute; top:50%; left:50%; margin-left :-250px; margin-top:-50px} 

div.navBar {padding: 0px 0px 0px 30px}
span.tab {background :grey; border-width: 1px 1px 0px 1px; border-style: solid; padding: 3px 3px 2px 3px; margin: 0px 6px 0px 0px; border-radius:0px 20px 0px 0px}
span.tab.active {background:white; padding:5px 3px 3px 3px}

div.error {color:rgb(200,0,0); font-weight:bold; margin:4px; clear:both}

div.tabBody {background:white; border-width: 1px; border-style: solid; padding: 5px; margin:1px; border-radius: 15px}
div.tabBody.narrow {width:500px}

span.imgThumb { border-width: 2px; border-style: solid; float:left ; margin:2px; padding: 2px; }
span.imgThumb div.thumb  { margin: 3px 3px 0px 3px ; width:100px; height:100px; position:relative;}
span.imgThumb div.thumb div.overlay { position:absolute; top:0px; right:0px; opacity:0; height:100px; width:100px; background:rgba(0,0,0,.5);}
span.imgThumb div.thumb div.overlay:hover { opacity:1}
span.imgThumb div.thumb div.overlay img.icon { margin: 0px 2px 0px 2px ; float:right}
span.imgThumb div.fileName { width: 180px; height:18px ; overflow:hidden}
span.imgThumb div.fileOwner { width: 160px ; font-style:italic }

.firstColumn {width:30%; float: left; text-align:right; clear:left}
.secondColumn {width:65%; float: left; margin: 0px 0px 8px 10px;  }
.secondColumnCheck {float: left; margin: 0px 0px 8px 10px; text-align:left; }
.helpIcon {margin-left: 35px; top:5px; position:relative}
.helpBox {z-index:1000; position:absolute; top:-10px; left:-10px; background:lightblue;
border-style:solid; border-width:1px; border-color:black; border-radius:15px; padding:10px; width:220px}

div.tabBody form.LogoutButton {clear:both}
div.spacer {clear:both}
.center {margin-left: auto; margin-right: auto; display:block;}

#uploadForm {background:rgb(220,220,220); margin-left:auto; margin-right:auto; width:400px; border-radius:15px; margin-top:15px; border-style:solid; border-width: 1px; border-color:rgb(220,220,200)}

div#imageInfoBox {display:none; position:absolute; top:50%; left:50%; width:530px; margin-left:-225px; height:300px; margin-top:-150px; border-style:inset; border-width:4px; border-color:dark-grey; z-index: 50; background:rgb(220,220,220);}
div#imageInfoError {display:none; color:red; clear:both}

div#zoomBox {display:none; position:absolute; top:15px; left:15px;  border-style:inset; border-width:4px; border-color:dark-grey; z-index: 50; background:rgba(0,0,0, .5); padding:5px; }
div#zoomBox div {margin :5px}

@media only screen and (max-device-width:480px)
{
  div.tabBody.narrow {width:300px}
  div#body {position:absolute; top:50%; left:50%; margin-left :-157px; margin-top:-50px} 
]
