Options -Indexes

# Turn on mod_rewrite
RewriteEngine On

# If you want to have your own fancy "image not found" image remove the "#" from RewriteCond and RewriteRule lines
# Make sure to apply the correct paths to reflect your current installation
RewriteRule ^images/(.*) index.php?action=display&id=$1

RewriteRule ^thumbs/(.*) index.php?action=thumb&id=$1

RedirectMatch 404 ^/include/.*$
RedirectMatch 404 ^/templates/.*$
# Don't expose our debug.log, if we forget to remove log-commands
# before production
RedirectMatch 404 ^/debug.log$


# Passwords are sent as plain-text, if possible you
# should use SSL to protect the connection. If available,
# uncomment the following lines to force ssl use.
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]

